/* home */
.text-center {
  text-align: center;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  font-size: 25px;
  letter-spacing: 3px;
}

.btn-git {
  background-color: rgb(40, 44, 52);
  margin-top: 20px;
  color: #f3f3f3;
  text-decoration: none;
  border: none;
  padding: 15px 40px 15px 28px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

.btn-git:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.5);
}

.btn-git-logo {
  vertical-align: middle;
  padding: 0 10px;
}

/* projects */

.route-panel {
  padding: 2vw;
}

.heading {
  font-size: 22px;
  color: #42a5f5;
  font-family: "Ubuntu Mono" monospace;
}

.project {
  padding-top: 20px;
}

.card {
  padding-left: 5vw;
}

.card-head {
  display: flex;
  align-items: center;
}

.card-icon {
  color: #f3f3f3;
  font-size: 20px;
}

.card-title {
  display: inline-block;
  position: relative;
  color: #f3f3f3;
  margin-left: 10px;
  font-size: 18px;
  text-decoration: none;
}

.card-title:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f3f3f3;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.card-title:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.un-ordered-list {
  padding-left: 6vh;
  list-style-type: square;
  color: #abb2bf;
  letter-spacing: 0.5px;
  margin: 15px 0 40px 0;
}

.un-ordered-list li {
  padding: 4px 0;
}

.fs17 {
  font-size: 17px;
}

.sub-un-ordered-list {
  margin-top: 0 !important;
  padding-left: 6vh;
}

.text-white {
  color: #f3f3f3;
}

.page-not-found {
  font-family: "VT323", monospace;
  font-size: 26px;
}

.git-master {
  text-decoration: none !important;
  color: #f3f3f3;
  display: inline-block;
}

.git-master > svg {
  font-size: 15px;
  vertical-align: bottom;
}
